:root {
    --bgcolor: #092238;
    --hdrcolor: #031633;
    --lightfont: #9FD1E0;
    --highlight: #0DCAF0;
    --highlightbg: rgb(204, 246, 255);
    --cardbg: #9FD1E0;
    --buttonbg: #031633;
    --offwhite: whitesmoke;
}


header {
    padding: 2rem;
    width: 100%;
    background-color: var(--hdrcolor);
    color: var(--lightfont);
    border-bottom: solid 1px var(--lightfont);
}

h1 {
    text-align: center;
    font-size: 250%;
}

main {
    min-height: 100vh;
    background-color: var(--bgcolor);
}

.search-section {
    max-width: 500px;
    margin: 0 auto;
}

.intro {
    padding: 2rem 1rem 1rem 1rem;
    color: var(--lightfont);
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem;
    color: var(--lightfont);
}

.search-field {
    margin: 1rem auto 10px auto;
    flex: 1 0 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

label {
    flex: 1 0 20%;
}

#search {
    border-radius: 5px;
    padding: 10px;
    flex: 1 0 75%;
    margin-left: 10px;

}

#submit {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    flex: 1 0 100%;
    
}

.recent-search, .search-results {
    padding: 1rem;
    margin: 1rem auto 10px auto;
    font-size: 80%;
    color: var(--lightfont);
}

li {
    list-style: none;
    text-decoration: none;
    padding-bottom: 5px;
    margin: 5px 0 5px 0;
}

.recent-list, .results-list {
    border: 1px solid var(--lightfont);
    background-color: var(--buttonbg);
    border-radius: 5px;
    padding: 10px;
    color: var(--lightfont);
}

.cities:hover, #submit:hover, button:hover {
    cursor: pointer;
    border: solid 3px var(--highlight);
    background-color: var(--highlightbg);
    color: var(--hdrcolor);
}

#clear {
    cursor: pointer;
    padding: 5px;
    width: 100px;
    margin-top: 1rem;
    border-radius: 5px;
}

.weather-section {
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.main-weather{
    padding: 1rem;
    margin: 1rem 1rem;
    border: 1px solid black; 
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--cardbg);
    border-radius: 10px;
}

h2 {
    font-size: 120%;
    margin-bottom: 15px;
    flex: 1 0 100%;
}

.main-data-titles, .main-data, .main-icon {
    flex: 1 0 33%;
    padding-right: 5px;
}

.main-icon {
    display: flex;
    flex-flow: column nowrap;
}

#icon-main, #desc-main {
    margin: 0 auto;
    text-align: center;
}

.card-container {
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1rem;
}

.weather-card {
    padding: 1rem;
    margin: 1rem 1rem;
    border: 1px solid black;
    flex: 1 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--cardbg);
    border-radius: 10px;
}

h3 {
    margin-bottom: 15px;
    flex: 1 0 60%;
}

.card-icon {
    flex: 1 0 45%;
}

.card-titles {
    flex: 1 0 55%;
    padding-right: 10px;
}

.card-data {
    flex: 1 0 40%;
}

.uvi {
    padding: 5px;
    border-radius: 5px;
}

.uv-low {
    background-color: green;
    color: white;
}

.uv-mod {
    background-color: yellow;
    color: black;
}

.uv-high {
    background-color: red;
    color: white;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--hdrcolor);
    color: var(--lightfont);
    border-top: solid 1px var(--lightfont);
}

/* media query for larger screens */
@media screen and (min-width: 576px) {
    .card-container {
        padding: 0;
    }
    
    .weather-card {
        flex: 1 0 40%;
        margin: 10px;
        padding: 10px;
    }

    .recent-search, .search-results {
        font-size: 100%;
    }

    h2 {
        font-size: 150%;
    }

}

@media screen and (min-width: 768px) {
    main {
        display:flex;
        flex-flow: row nowrap;
        max-width: 100vw;
    }
    
    .search-section {
        max-width: 500px;
        height: 100%;
        flex: 1 0 50%;
    }

    .weather-section {
        flex: 1 0 50%;
    }

    .card-container {
        padding: 1rem;
    }

    .weather-card {
        flex: 1 0 100%;
        margin: 1rem;
        padding: 1rem;
    }
}


@media screen and (min-width: 992px) {
    main {
        display:flex;
        flex-flow: row nowrap;
        max-width: 100vw;
    }
    
    .search-section {
        max-width: 500px;
        height: 100%;
        flex: 1 0 40%;
    }

    .weather-section {
        flex: 1 0 60%;
    }

    .weather-card {
        flex: 1 0 40%;
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (min-width: 1300px) {
    main {
        display:flex;
        flex-flow: row nowrap;
        max-width: 100vw;
    }
    
    .search-section {
        max-width: 500px;
        height: 100%;
        flex: 1 0 30%;
    }

    .weather-section {
        flex: 1 0 70%;
    }

    .card-container {
        padding: 1rem 5px 0 5px;
    }

    .weather-card {
        flex: 1 0 20%;
        margin: 5px;
        padding: 10px;
    }
}